<persistence-unit
	name="ua.com.foxminded.schoolconsoleapp">
	<description>Hibernate EntityManager</description>
	<class>ua.com.foxminded.yuriy.schoolconsoleapp.entity.Group</class>
	<class>ua.com.foxminded.yuriy.schoolconsoleapp.entity.Student</class>
	<class>ua.com.foxminded.yuriy.schoolconsoleapp.entity.Course</class>
	<exclude-unlisted-classes>true</exclude-unlisted-classes>
	<properties>
		<property name="hibernate.dialect"
			value="org.hibernate.dialect.PostgreSQL82Dialect" />
		<property name="hibernate.hbm2ddl.auto" value="update" />
		<property name="javax.persistence.jdbc.driver"
			value="org.postgresql.Driver" />
		<property name="javax.persistence.jdbc.url"
			value="jdbc:postgresql://localhost:5432/school" />
		<property name="javax.persistence.jdbc.user" value="postgres" />
		<property name="javax.persistence.jdbc.password" value="1234" />
	</properties>
</persistence-unit>